.ant-table-scroll,
.ant-table-body-inner {
    -webkit-overflow-scrolling: touch;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
    overflow: hidden;
}

.ant-table-body-inner {
    overflow-y: scroll !important;
}

.ant-table-thead > tr.ant-table-row-hover > td,
.ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td,
.ant-table-tbody > tr:hover > td {
    background: inherit;
}
